<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>

<body>
    <h1>Login Form</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button>Login</button>
    </form>
    <a href="/home">Home</a>
    <h2>John - user</h2>
    <div>Password: password1</div>

    <h2>Sam - member</h2>
    <div>password: password2</div>

    <h2>Sue - memberPlus</h2>
    <div>Password: password3</div>

</body>

</html>