<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
</head>

<body>
    <h1>Admin Registration Form</h1>
    <form action="/registerAdmin" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="key">Admin Key</label>
            <input type="password" name="key" id="key">
        </div>
        <button>Register</button>
    </form>
    <a href="/home">Home</a>
    <h2>Admin Key:</h2>
    <span>
        testKey
    </span>
</body>

</html>